<style type="text/css">
.botWrapper {
  height: 100% !important;
  max-height: 100%;
}
.botTable {
  height: 80%;
}
.botBet {
  height: 20%;
}
#aButton {
  background-color: white !important;
  text-shadow: none !important;
  background-image: none !important;
  background-repeat: no-repeat !important;
  box-shadow: none !important;
  color: #000 !important;
}

#aButton:hover {
  box-shadow: none !important;
  border-color: #2D22F3 !important;
}
</style>

<script type="text/javascript">
  
  $(document).ready(function() {
    var data1 = {
    labels: ["0s", "1s", "2s", "3s", "4s", "5s", "6s", "7s", "8s", "9s"],
    datasets: [
        {
            label: "data",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#2D22F3",
            pointHighlightStroke: "#2D22F3",
            data: [0, 1, 2, 1, 3, 1, 0, 0, 1, 1]
        }
      ]
  };

    var data2 = {
    labels: ["0s", "1s", "2s", "3s", "4s", "5s", "6s", "7s", "8s", "9s"],
    datasets: [
        {
            label: "data",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#2D22F3",
            pointHighlightStroke: "#2D22F3",
            data: [0, 1, 2, 3, 4, 3, 3, 1, 2, 2]
        }
      ]
  };

    var data3 = {
    labels: ["0s", "1s", "2s", "3s", "4s", "5s", "6s", "7s", "8s", "9s"],
    datasets: [
        {
            label: "data",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#2D22F3",
            pointHighlightStroke: "#2D22F3",
            data: [0, 0, 0, 0, 1, 0, 0, 0, 1, 0]
        }
      ]
  };

    var data4 = {
    labels: ["0s", "1s", "2s", "3s", "4s", "5s", "6s", "7s", "8s", "9s"],
    datasets: [
        {
            label: "data",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#2D22F3",
            pointHighlightStroke: "#2D22F3",
            data: [0, 0, 0, 1, 1, 0, 1, 0, 1, 1]
        }
      ]
  };

    $("#pf").click(function(){
      $("#pf").addClass("activeRow");
      $("#tb").removeClass("activeRow");
      $("#td").removeClass("activeRow");
      $("#lz").removeClass("activeRow");
      $(".botBet").show();
      selectCanvasElems(0);
      drawChart(data1);
    });
    $("#tb").click(function(){
      $("#pf").removeClass("activeRow");
      $("#tb").addClass("activeRow");
      $("#td").removeClass("activeRow");
      $("#lz").removeClass("activeRow");
      $(".botBet").show();
      selectCanvasElems(1);
      drawChart(data2);
    });
    $("#td").click(function(){
      $("#pf").removeClass("activeRow");
      $("#tb").removeClass("activeRow");
      $("#td").addClass("activeRow");
      $("#lz").removeClass("activeRow");
      $(".botBet").show();
      selectCanvasElems(2);
      drawChart(data3);
    });
    $("#lz").click(function(){
      $("#pf").removeClass("activeRow");
      $("#tb").removeClass("activeRow");
      $("#td").removeClass("activeRow");
      $("#lz").addClass("activeRow");
      $(".botBet").show();
      selectCanvasElems(3);
      drawChart(data4);
    });

    $("#aButton").click(function() {
      var amt = $("#amount").val();
      if (amt === 0 || amt === undefined) {
        return;
      }
      else {
        var total = parseInt($("#cash").text());
        if (amt > total) {
          return;
        }
        else {
          total = total - amt;
          $("#cash").text(total);
          $("#beforeBet").hide();
          $("#afterBet").show();
        }
      }
    });
  });

</script>

<div class="botWrapper">

<div class="botTable">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th># Bases</th>
        <th>Score</th>
        <th>Capture Time</th>
        <th>Retention Time</th>
        <th>Odds</th>
      </tr>
    </thead>
    <tbody>
      <tr id="pf">
        <td>Pink Floyd</td>
        <td>1</td>
        <td>89</td>
        <td>4s</td>
        <td>11s</td>
        <td>2/1</td>
      </tr>
      <tr id="tb">
        <td>The Beatles</td>
        <td>2</td>
        <td>162</td>
        <td>3s</td>
        <td>8s</td>
        <td>4/5</td>
      </tr>
      <tr id="td">
        <td>The Doors</td>
        <td>0</td>
        <td>22</td>
        <td>30s</td>
        <td>2s</td>
        <td>6/1</td>
      </tr>
      <tr id="lz">
        <td>Led Zeppelin</td>
        <td>1</td>
        <td>70</td>
        <td>6s</td>
        <td>6s</td>
        <td>3/1</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="botBet" align="center" hidden>
  <div id="beforeBet">
    <form>
      <label>Place Bet:</label>
      <input type="number" name="bet" min="100" max="1000" step="20" id="amount" style="width:30%">
      <a class="btn btn-default" href="#" role="button" id="aButton">Bet!</a>
    </form>
  </div>
  <div id="afterBet" hidden>
    <h5>You have successfully placed your bet!</h5>
  </div>
</div>

</div>